@{
    ViewData["Title"] = "Delete Tour";
}

@model Tours

<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete the record for @Model.GroupName?</h3>

@*This form allows the deletion of the selected tour based off its tourID*@
<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="ViewAppointments" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="TourId" />

</form>