@{
    ViewData["Title"] = "Sign up for a Tour";
}

@model Tours
<h1>Enter Information for your Group</h1>
<div class="font-weight-bolder">
    <p>Your Day is @ViewBag.day</p>
    <p>Your Time is @ViewBag.time</p>
    <form method="post">
        <input type="hidden" asp-for="TimeSlot" value=@ViewBag.timeSlot />
        @*This helps us connect the different categories so it doesn't take up space and the user can pick an already made category*@
        <label asp-for="GroupName">Group Name: </label>
        <input asp-for="GroupName" /> <br />

        <label asp-for="GroupSize">Group Size: </label>
        <input asp-for="GroupSize" /> <br />

        <label asp-for="EmailAddress">Email Address: </label>
        <input asp-for="EmailAddress" /> <br />

        <label asp-for="Phone">Phone Number: </label>
        <input asp-for="Phone" /> <br />

        <button type="submit">Submit Tour</button>
        @* This is to make sure all the validations are meant upon entry *@
        <div asp-validation-summary="All"></div>

    </form>
</div>
