@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton Utah Temple Tours</h1>
    <div>
        <a class="btn btn-lg bg-info" asp-controller="Home" asp-action="SignUp">Sign Up</a>
    </div>
    <br />
    <img src="~/img/LaytonTemple.jpg" />
</div>
<br />
    <div class="container bg-light">
        <h3>About Tours</h3>
        <p>We can only add a limited number of tours at this time. They will be removing the visitors center soon so that they can complete the landscaping. When the trailer is gone, we anticipate being able to talk to groups on the lawn of the church across the street or at the Morgan's backyard. We are trying to facilitate as many groups as possible, so please only sign-up when you can commit to coming on the selected date and time. We have a lot of last minute cancelations.</p>
        <h4>General Tour Instructions:</h4>
        <ul>
            <li>
                Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.
            </li>
            <li>
                Dress casual, except on Sunday
            </li>
        </ul>
        <h4>Special Accommodations (check the appropriate box when signing up for a tour):</h4>
        <ul>
            <li>
                Spanish-speaking tours are available, by request.
            </li>
        </ul>
        <h4>Available Tours:</h4>
        <ul>
            <li>
                Tour (Outdoor): We will walk on the sidewalk along Oak Hills and on Rosewood in front of the temple on uneven surfaces; please wear sturdy shoes
            </li>
            <li>
                Trailer Tour: On Sunday. Masks are required
            </li>
        </ul>
        <div class="text-center">
            <h4 class="bg-info">Please call or text 801-628-4488 with questions or special requests.</h4>
        </div>
    </div>
